@import '@styles/variables.scss';

.layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        'sidebar navbar'
        'sidebar main'
        'sidebar main'
        'sidebar main'
    ;
    background: linear-gradient(180deg, rgba(209, 213, 221, 0.8) 0%, rgba(242, 242, 243, 0.9) 100%);

    .main {
        height: calc(100vh - $height-navbar - 30px);
        grid-area: main;
        overflow: auto;
        padding: 16px;
        margin-bottom: 30px;
    }
}

@media (max-width: $breakpoint-md) {
    .layout {
        grid-template-areas:
            'navbar navbar'
            'main main'
            'main main'
            'main main'
        ;

        .main {
            height: calc(100vh - $height-navbar);
        }
    }

    .layout[data-sidebar-open-in-mobile=true] {
        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(55, 55, 55, 0.463);
            z-index: 2;
        }
    }
}