@import '@styles/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .titles-container {
        display: flex;
        gap: $border-radius;
        align-items: center;

        .title {
            font-size: 20px;
            font-weight: 500;
        }

        .subtitle {
            font-size: 14px;
            color: $light-font-color;
        }
    }

    .filters-container {
        display: flex;
        justify-content: space-between;

        .filters {
            display: flex;
            align-items: center;
            gap: 10px;

            .chips{
                display: flex;
                align-items: center;
                gap: 4px;

                .chip[data-selected=true]{
                    border: rgb(255, 255, 255) solid 3px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .main {
        .filters-container {
            flex-direction: column;
            gap: 10px;

            .filters {
                gap: 8px;
            }
        }
    }
}