$primary-color: #db3b2b;
$box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
$border-radius: 14px;
$font-color: #4d4d4d;
$light-font-color: #9b9b9b;
$light-background-color: rgb(252, 250, 250);
$breakpoint-md: 825px;
$primary-gradient: linear-gradient(180deg, #2a4a74 0%, #132846 100%);
$height-bottom-navigation: 50px;
$height-navbar: 64px;
$width-side-bar: 240px;
$reduce-sidebar-width: 70px;
$primary-border: 1px #F2F2F2 solid;
$secondary-border: 1px solid rgba(224, 224, 224, 1);
$primary-background-color: rgba(255, 255, 255, 0.325);

:export {
    primary-color: $primary-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    font-color: $font-color;
    breakpoint-md: $breakpoint-md;
    primary-gradient: $primary-gradient;
    height-bottom-navigation: $height-bottom-navigation;
    height-navbar: $height-navbar;
    light-font-color: $light-font-color;
    light-background-color: $light-background-color;
    width-sie-bar: $width-side-bar;
    reduce-sidebar-width: $reduce-sidebar-width;
    primary-border: $primary-border;
    secondary-border: $secondary-border;
    primary-background-color: $primary-background-color
}